<div class="col-xs-12 col-sm-3 col-sm-offset-9">
    <md-input placeholder="WORK ITEM ID" style="width:100%;" (keyup)="onKey($event)" ng-default-control [(ngModel)]="workItemId" ng-disabled="true"  [class.disabled]="searchDisabled ? true : null">
        <md-hint *ngIf="workItemError !== ''" [ngStyle]="warn" class="has-error">{{workItemError}}</md-hint>
    </md-input>
</div>
<md-tab-group style="width:100%;" md-stretch-tabs>
    <md-tab label="Backlogs">
        <div class="col-xs-12" style="overflow:auto; height: 70%;">
            <navigate-tile>Epics</navigate-tile>
            <navigate-tile>Features</navigate-tile>
            <navigate-tile>User Stories</navigate-tile>
            <h4>ITERATIONS</h4>
            <div *ngIf="!showLoading">
                <div *ngFor="let iteration of iterationList" class="tile" [routerLink]="['/home']">
                    <div style="float:right; color:#00f2ff; margin-top:10px;"><span class="glyphicon glyphicon-chevron-right" style="font-size:25px;"></span></div>
                    <div style="font-size:18px; color:white;">{{iteration.name}}</div>
                    <div>{{iteration.description}}</div>
                </div>
            </div>
            <div style="margin-left:auto; margin-right:auto; width:150px;" *ngIf="showLoading">
                <md-spinner class="app-spinner"></md-spinner>
            </div>
        </div>
    </md-tab>
    <md-tab label="Queries">
        <p>...</p>
    </md-tab>
</md-tab-group>