<div class="col-xs-12">
    <div *ngIf="!showLoading">
        <div class="sub-title" style="font-weight:400; font-size:12px;">{{workItem.type.toUpperCase()}} ID: {{workItem.id}}</div>
        <div style="font-size:20px;">{{workItem.title}}</div>
        <div class="sub-title">Updated {{workItem.changedDate}} by {{workItem.changedBy}}</div>
        
    </div>
    <div style="margin-left:auto; margin-right:auto; width:150px;" *ngIf="showLoading">
        <md-spinner class="app-spinner"></md-spinner>
    </div>
</div>
<md-tab-group style="width:100%;" *ngIf="!showLoading" md-stretch-tabs>
    <md-tab label="DETAILS">
    </md-tab>
    <md-tab label="HISTORY">
    </md-tab>
    <md-tab label="LINKS">
    </md-tab>
</md-tab-group>