<div class="col-sm-offset-1" style="oveflow:auto;"><router-outlet></router-outlet></div>
<div *ngIf="isLoggedIn" class="col-xs-12 hidden-sm hidden-md hidden-lg menu" style="height:60px; position:fixed; bottom:0; margin:0; padding:0;">
    <div class="col-xs-3 menu-item home" style="text-align:center;" [routerLink]="['/home']" [class.selected]="router.url == '/home'">
        <i class="fa fa-home fa-2x"></i>
        <div>Home</div>
    </div>
    <div class="col-xs-3 menu-item work" style="text-align:center;" [routerLink]="['/workItemHome']" [class.selected]="router.url == '/workItemHome'">
        <i class="fa fa-list fa-2x"></i>
        <div>Work</div>
    </div>
    <div class="col-xs-3 menu-item build" style="text-align:center;" [routerLink]="['/build']" [class.selected]="router.url == '/build'">
        <i class="fa fa-terminal fa-2x"></i>
        <div>Build</div>
    </div>
    <div class="col-xs-3 menu-item settings" style="text-align:center;" [routerLink]="['/settings']" [class.selected]="router.url == '/settings'">
        <i class="fa fa-gear fa-2x"></i>
        <div>Settings</div>
    </div>
</div>
<div *ngIf="isLoggedIn" class="hidden-xs col-sm-1 menu" style="height:100%; max-width:85px; position:fixed; left:0; top:0; vertical-align: middle; margin: 0; padding:0;">
    <div style="height:35%"></div>
    <div class="menu-item home" style="text-align:center;" [routerLink]="['/home']" [class.selected]="router.url == '/home'">
        <i class="fa fa-home fa-2x"></i>
        <div>Home</div>
    </div>
    <div class="menu-item work" style="text-align:center;" [routerLink]="['/workItemHome']" [class.selected]="router.url == '/workItemHome'">
        <i class="fa fa-list fa-2x"></i>
        <div>Work</div>
    </div>
    <div class="menu-item build" style="text-align:center;" [routerLink]="['/build']" [class.selected]="router.url == '/build'">
        <i class="fa fa-terminal fa-2x"></i>
        <div>Build</div>
    </div>
    <div class="menu-item settings" style="text-align:center;" [routerLink]="['/settings']" [class.selected]="router.url == '/settings'">
        <i class="fa fa-gear fa-2x"></i>
        <div>Settings</div>
    </div>
</div>