body.background {
    background-color: #25003b;
    color: white;
    height:100%;
}
.tile {
    border: 1px solid #7302b5;
    height: 75px;
    margin-bottom: 10px;
    padding: 15px;
    color: #b591c9;
    color: white;
    vertical-align: middle;
}
.menu-icon {
    font-size:24px;
}
.menu {
    background-color: #180026;
    color: #e8dfed;
}
.menu-item {
    padding-top:10px;
    padding-bottom:10px;
}
.selected {
    background-color: #25003b;
}
.has-error {
    color: #F44336;
}
.sub-title {
    color: #a586b8;
}