<div *ngIf="build != undefined" class='col-xs-12 col-sm-4 tile'>
    <div style="float:right; margin-top:5px;">
        <span class="glyphicon glyphicon-th-large" style="color:#00f2ff; font-size:35px"></span>
    </div>
    <div *ngIf="build.status !== 'completed'">
        <span class="glyphicon glyphicon-time" style="color:white;"></span>
        <span *ngIf="build.status === 'inProgress'" style="font-weight:600;">IN PROGRESS</span>
        <span *ngIf="build.status === 'notStarted'" style="font-weight:600;">NOT STARTED</span>
        <span *ngIf="build.status !== 'notStarted' && build.status !== 'inProgress'" style="font-weight:600;">{{build.status.toUpperCase()}}</span>
    </div>
    <div *ngIf="build.status === 'completed'">
        <span *ngIf="build.result === 'succeeded'" class="glyphicon glyphicon-ok" style="color:#00f2ff;"></span>
        <span *ngIf="build.result === 'failed'" class="glyphicon glyphicon-remove" style="color:#00f2ff;"></span>
        <span style="font-weight:600; color:#00f2ff;">{{build.result.toUpperCase()}}</span>
    </div>
    Build Definition: <span style="color:white;">{{build.definition.name}}</span>

</div>